html, body {
    margin: 0 auto;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0
}

#root {
    height: 100vh;
    width: 100vw;
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr 0.7fr;
}

.footer {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}