.container {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #F5EFE6;
}

.menu {
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.logo {
    margin-left: 20px;
}

.link {
    font-size: x-large;
    text-decoration: none;
    color: black;
}



